// Define variables for your color scheme

// For example:
$black-chocolate: #1E1B18;
$prussian-blue: #003049;
$maximum-yellow-red: #FCBF49;
$charcoal: #264653;
$deep-space-sparkle: #4C6C6C;
$gray: #333437;
$light-gray: #F4F4F4;
