// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: 'EnriqueLightRound', "Helvetica", "sans-serif";
$headers-font: 'EnriqueLightRound', "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
$my-font: 'EnriqueLightRound';
@font-face {
    font-family: 'EnriqueLightRound';
    src: url('Enrique-LightRound.eot'); /* IE9 Compat Modes */
    src: url('Enrique-LightRound.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Enrique-LightRound.woff') format('woff'), /* Modern Browsers */
         url('Enrique-LightRound.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Enrique-LightRound.svg#Enrique-LightRound') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

