
<header>
    <div class="row">

      <div class="top-bar">
        <a class="menu-toggle" href="#"><span>Menu</span></a>

        <div class="logo">
          </div>

        <nav id="main-nav-wrap">
          <ul class="main-navigation">
            <li class="current"><a class="smoothscroll" href="#intro" title="">Home</a></li>
            <li class=""><a class="smoothscroll" href="#about" title="">About</a></li>
            <li><a class="smoothscroll" href="#" title="">Maps</a></li>
            <li><a class="smoothscroll" href="#" title="">Wine Scan</a></li>
            <li><a class="smoothscroll" href="#" title="">Winemaker</a></li>
            <li><a class="smoothscroll" href="#" title="">Grapes</a></li>
            <li><a href="styles.html" title="">Your Notebook</a></li>
          </ul>
        </nav>
      </div> <!-- /top-bar -->

    </div> <!-- /row -->
   </header>
