<section id="intro">

  <div class="intro-overlay"></div>

  <div class="intro-content">
    <div class="row justify-content-center">

      <div class="col-twelve">


        <h1>ENHANCE YOUR EXPERIENCE</h1>
          <h5>KNOW YOUR WINE</h5>

        <p class="intro-position">
          <span>Wine Library</span>
          <span>Search</span>
        </p>

        <a class="button stroke smoothscroll" href="#about" title="">Your Wine Jorney Starts Here</a>

      </div>

    </div>
  </div> <!-- /intro-content -->

 </section> <!-- /intro -->
